h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.wrapper {
  position: relative;
  max-width: 1020px;
  width: 81%;
  margin: 0 auto; }
  .wrapper--info {
    margin-top: 104px; }

@media screen and (max-width: 1050px) {
  .wrapper {
    width: 90%; } }

@media screen and (max-width: 950px) {
  .wrapper--info {
    margin-top: 70px; } }

.header {
  position: relative;
  height: 100vh;
  background: center url(../images/header.png) no-repeat;
  background-size: cover;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #fff; }
  .header__wrapper {
    height: 100%; }
  .header__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 24px; }
  .header__phone-icon {
    width: 20px;
    height: 20px;
    background: center url(../images/phone-icon.png) no-repeat;
    background-size: contain;
    display: none; }
  .header__burger {
    background: center url(../images/burger.png);
    background-size: contain;
    width: 22px;
    height: 15px;
    display: none; }
  .header__logo {
    width: 115px;
    height: 76px; }
  .header__link {
    color: #fff;
    position: relative; }
    .header__link::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 0;
      display: block;
      width: 0;
      height: 2px;
      background-color: #fff;
      -webkit-transition: width 0.3s;
      transition: width 0.3s; }
    .header__link:focus, .header__link:active {
      color: #ccc; }
  .header__link:hover::after {
    width: 100%; }
  .header__heading {
    position: absolute;
    bottom: 165px;
    left: 0;
    max-width: 328px;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-transform: none; }
  .header__nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 48px; }
  .header__mobile-nav {
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  .header__mobile-nav--active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }

@media screen and (max-width: 950px) {
  .header__phone-icon, .header__burger {
    display: block; }
  .header__phone, .header__nav, .header__link {
    display: none; } }

@media screen and (max-width: 950px) {
  .header__heading {
    bottom: 80px; } }

@media screen and (max-width: 533px) {
  .header__heading {
    font-size: 46px;
    line-height: 40px;
    letter-spacing: -1px;
    max-width: 260px; }
  .header__phone-icon {
    width: 18px;
    height: 18px; }
  .header__burger {
    width: 18px;
    height: 12px; } }

@media screen and (max-width: 450px) {
  .header__logo {
    width: 73px;
    height: 48px; } }

.logo {
  background: no-repeat center top url(../images/logo.png);
  background-size: contain; }

.link {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: color 0.3s, background-color 0.3s, boreder-color 0.3s;
  transition: color 0.3s, background-color 0.3s, boreder-color 0.3s;
  padding: 8px 24px;
  border-radius: 8px;
  outline: none; }
  .link:hover, .link:active, .link:focus {
    background-color: rgba(252, 252, 252, 0.1); }

.nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__link {
  color: #fff; }

.nav__item_active {
  background-color: rgba(252, 252, 252, 0.1);
  border-radius: 8px; }

.mobile-nav {
  padding: 120px 0 60px;
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0075ff;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  .mobile-nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 70%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .mobile-nav__item {
    font-size: 22px;
    line-height: 22px; }
  .mobile-nav__link {
    color: #fff; }
  .mobile-nav__logo {
    width: 73px;
    height: 48px;
    display: block;
    position: absolute;
    top: 24px;
    left: calc(50% - 36.5px); }
  .mobile-nav__cross {
    display: block;
    background: url(../images/cross.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 40px;
    right: 5%;
    width: 16px;
    height: 16px; }
  .mobile-nav__link--action {
    color: #fff;
    position: relative;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 0 25px 24px; }
    .mobile-nav__link--action::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      -webkit-transition: width 0.3s;
      transition: width 0.3s; }
  .mobile-nav__phone {
    margin-bottom: 8px; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__heading {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: #000; }
  .info__link {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    color: #0075ff;
    text-decoration: none;
    border-radius: 8px;
    padding: 0 2px; }
    .info__link:hover {
      color: #5359e3; }
    .info__link:focus, .info__link:active {
      -webkit-box-shadow: 0 0 5px #0075ff;
              box-shadow: 0 0 5px #0075ff; }
  .info__text {
    max-width: 500px; }
  .info__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-bottom: 16px; }
  .info__p:nth-child(3) {
    margin: 32px 0; }

@media screen and (max-width: 950px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .info__title {
      margin-top: 25px; }
    .info__text {
      max-width: 700px; } }

@media screen and (max-width: 533px) {
  .info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .info__heading {
      font-size: 36px;
      line-height: 36px;
      text-align: left; } }

.heading {
  position: relative;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  color: #000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .heading::after {
    content: "";
    width: 23px;
    height: 16px;
    display: block;
    background: url(../images/crown.svg) no-repeat center;
    background-size: cover;
    position: absolute;
    left: calc(50% - 11.5px);
    top: 56px; }

@media screen and (max-width: 533px) {
  .heading {
    font-size: 36px;
    line-height: 36px; }
    .heading::after {
      top: 45px; } }

.gallery__heading {
  margin: 152px auto 60px; }

.gallery__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: bold;
  color: #0075ff;
  text-decoration: none;
  padding: 0 2px;
  border-radius: 8px; }
  .gallery__link:hover {
    color: #5359e3; }
  .gallery__link:focus, .gallery__link:active {
    -webkit-box-shadow: 0 0 5px #0075ff;
            box-shadow: 0 0 5px #0075ff; }

.gallery__desc {
  margin: 16px 0 40px; }

.gallery__button {
  width: 188px;
  margin: 0 auto; }

@media screen and (max-width: 950px) {
  .gallery__heading {
    margin-top: 75px; } }

@media screen and (max-width: 533px) {
  .gallery__button {
    width: 100%; } }

.button {
  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
  border: 2px solid #0075ff;
  border-radius: 8px;
  color: #0075ff;
  height: 56px;
  background-color: #fff;
  display: block;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s; }
  .button:hover {
    background: #0075ff;
    -webkit-box-shadow: 0 0 5px #0075ff;
            box-shadow: 0 0 5px #0075ff;
    color: #fff; }
  .button:active, .button:focus {
    -webkit-box-shadow: 0 0 5px #0075ff;
            box-shadow: 0 0 5px #0075ff; }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .photos_wide-right .photos__img:first-child {
    width: calc(33% - 10px); }
  .photos_wide-right .photos__img:last-child {
    width: calc(67% - 10px); }
  .photos_wide-left .photos__img:first-child {
    width: calc(67% - 10px); }
  .photos_wide-left .photos__img:last-child {
    width: calc(33% - 10px); }

@media screen and (max-width: 600px) {
  .photos__img {
    height: 200px; }
  .photos_wide-right .photos__img:first-child, .photos_wide-left .photos__img:first-child {
    width: calc(50% - 10px); }
  .photos_wide-right .photos__img:last-child, .photos_wide-left .photos__img:last-child {
    width: calc(50% - 10px); } }

@media screen and (max-width: 450px) {
  .photos__img {
    height: 131px; } }

.consultation__heading {
  margin: 152px auto 93px; }

.consultation__text {
  max-width: 412px; }

.consultation__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #0075ff;
  max-width: 330px; }

.consultation__p {
  margin-top: 16px; }

.consultation__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 413px; }
  .consultation__form input:last-of-type {
    margin-bottom: 0; }

.consultation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media screen and (max-width: 950px) {
  .consultation__heading {
    margin-top: 75px; }
  .consultation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .consultation__title {
    max-width: 100%; }
  .consultation__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .consultation__form {
    margin-top: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media screen and (max-width: 533px) {
  .consultation__form {
    max-width: 100%; }
  .consultation__title {
    text-align: left; }
  .consultation__text {
    max-width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

.form__input {
  background: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  display: block;
  width: 100%;
  height: 48px;
  padding: 17px;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 16px; }
  .form__input:focus {
    -webkit-box-shadow: 0 0 5px #0075ff;
            box-shadow: 0 0 5px #0075ff; }

.form__text {
  font-family: Roboto, sans-serif;
  background: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  display: block;
  width: 100%;
  height: 144px;
  padding: 17px;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 16px; }
  .form__text:focus {
    -webkit-box-shadow: 0 0 5px #0075ff;
            box-shadow: 0 0 5px #0075ff; }

.form__button {
  margin-top: 32px;
  width: 100%; }

@media screen and (max-width: 533px) {
  .form__button {
    max-width: 100%; } }

.testimonials__heading {
  margin: 152px auto 93px; }

.testimonials__card {
  padding: 10px;
  margin: 10px;
  -ms-flex-preferred-size: 240px;
      flex-basis: 240px; }

.testimonials__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media screen and (max-width: 950px) {
  .testimonials__heading {
    margin-top: 75px; }
  .testimonials__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .testimonials__card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%; } }

@media screen and (max-width: 533px) {
  .testimonials__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .testimonials__card:not(:first-of-type) {
    margin-top: 25px; } }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .card__img {
    width: 153px;
    height: 153px; }
  .card__prof {
    display: block;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2; }
  .card__title {
    margin-top: 28px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff; }
  .card__text {
    margin-top: 13px;
    text-align: center;
    max-width: 240px; }

.contacts__heading {
  margin: 152px auto 93px; }

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 413px; }

.contacts__form {
  width: 413px; }
  .contacts__form__button {
    width: 100%; }

.contacts__h {
  color: #9fadc2;
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 8px; }

.contacts__phone span {
  display: block;
  margin-bottom: 24px; }

.contacts__address {
  max-width: 152px; }
  .contacts__address p {
    margin: 0;
    line-height: 2.5; }

@media screen and (max-width: 950px) {
  .contacts__heading {
    margin-top: 75px; }
  .contacts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contacts__info {
    margin-bottom: 32px; } }

@media screen and (max-width: 450px) {
  .contacts__info {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .contacts__form {
    width: 100%; } }

.footer {
  position: relative;
  margin-top: 90px;
  height: 360px;
  background: center url(../images/footer.png) no-repeat;
  background-size: cover; }
  .footer__logo {
    width: 115px;
    height: 76px;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 115px / 2); }

@media screen and (max-width: 533px) {
  .footer {
    height: 206px; } }

@media screen and (max-width: 450px) {
  .footer__logo {
    width: 77px;
    height: 50px;
    left: calc(50% - 77px / 2); } }

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e; }

#top {
  scroll-behavior: smooth; }

/*# sourceMappingURL=main.css.map */
